<section class="block section has-background-light has-text-centered">
    <a class="button is-large is-warning" href="{{ languages[page.lang].cta.quote.url }}">{{ languages[page.lang].cta.quote.button }}</a>
</section>
