<section class="block section is-medium has-background-light has-text-centered">
    <h2 class="block is-size-2">{{ languages[page.lang].cta.retailPhoto.title }}</h2>
    <p class="block is-size-4">{{ languages[page.lang].cta.retailPhoto.subtitle }}</p>
    <div class="pt-6"><a class="button is-large is-warning" href="{{ languages[page.lang].cta.retailPhoto.url }}">{{ languages[page.lang].cta.retailPhoto.button }}</a></div>
</section>
