<footer class="footer">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <p>{{ languages[page.lang].footer.tagline.copyrightNotice }}</p>
        <p>
          {% if title and tags %} {% if "retail" in tags %} © Pau Guerrero |
          {{ languages[page.lang].footer.tagline.retail }}
          {% endif %} {% if "architecture-photography" in tags and "retail" not in
          tags %} © Pau Guerrero | {{ languages[page.lang].footer.tagline.arch }} {%
          endif %} {% if "exhibitions" in tags %} © Pau Guerrero |
          {{ languages[page.lang].footer.tagline.exhibit }} {% endif %} {% else %} ©
          Pau Guerrero {% endif %}
        </p>
      </div>
    </div>
    <div class="level-right">

                  {% for link in page.url | locale_links %}
          <div class="level-item">
            
          <a
          href="{{ link.url }}"
          lang="{{ link.lang }}"
          hreflang="{{ link.lang }}"
          class="level-item {{ link.lang }}"
          >{{ languages[link.lang].langName }}</a
          >
          </div>
          {% endfor %}

    </div>
  </div>
</footer>
