<a href="#main" class="skip-link">{{ languages[page.lang].skipText }}</a>

<nav class="navbar is-family-secondary" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand ">
      <a class="navbar-item is-size-3-desktop" href="/{{ page.lang }}/">
      {{ meta.siteName[page.lang] }}
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        {% for item in navigation[page.lang] %}
        <a
        class="navbar-item"
        {{
        helpers.getLinkActiveState(item.url,
        page.url)
        |
        safe
        }}
        href="{{ item.url }}"
        >
        {{ item.text }}
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</nav>
