<script type="application/ld+json">
  [
  {% set comma = joiner() %}
  {%- for row in images -%}
  {%- for image in row.items -%}
  {{ comma() }}
  {%- set imgPath = "src/" ~ image.src -%}
  {%- set imageData = imageCollection[imgPath] -%}
  {%- set largestWebp = imageData.webp[imageData.webp.length - 1].url -%}

    {
      "@context": "https://schema.org/",
      "@type": "ImageObject",
      "contentUrl": "{{ largestWebp }}",
      "contentLocation": "{{ image.contentLocation }}",
      "name": "{{ image.name }}",
      "description": {{ image.caption | default("") | dump | safe }} ,
      "license": "{{ '/copyright/' | locale_url }}",
      "acquireLicensePage": "{{ '/copyright/' | locale_url }}",
      "creator": {
        "@type": "Person",
        "name": "{{ meta.author }}"
       },
      "creditText": "{{ meta.siteName[page.lang] }}",
      "copyrightNotice": "{{ meta.author }}"
    }
    {%- endfor -%}
    {%- endfor -%}
  ]
</script>
