---
layout: "base.njk"
---

<main id="main" class="container">
  <section class="hero is-small">
  <div class="hero-body container is-family-secondary">
    {% if not home %}
      <h1 class="title">{{ title }}</h1>
      {% if intro %}
          <p class="subtitle">{{ intro | safe }}</p>
      {% endif %}
    {% endif %}
  </div>
  </section>

  {% ifAsync page.lang == "es" %}
      {% include "architecture-photographer-barcelona-es.njk" %}
{% endif %}
  {% ifAsync page.lang == "en" %}
    {% include "architecture-photographer-barcelona-en.njk" %}
{% endif %}
  {% ifAsync page.lang == "ca" %}
    {% include "architecture-photographer-barcelona-ca.njk" %}
{% endif %}
</main>
