---
layout: "base.njk"
---

<main id="main">
  <article class="">
    <h1 class="title">{{ title }}</h1>
    <ul class="" role="list" data-rows="masonry" data-layout="50-50">
      {% for item in collections[collectionName] %} {% if item.data.lang ==
      page.lang %}
      <li class="card">
        {% imageShortcode item.data.teaser, item.data.teaserAlt, "high" %}
        <div class="">
          <a href="{{ item.url }}">{{ item.data.title | lower }}</a>
        </div>
      </li>
      {% endif %} {% endfor %}
    </ul>

     {{ content | safe }}

  </article>
</main>
