---
layout: "base.njk"
---

<section class="hero is-medium">
  <div class="hero-body container is-family-secondary">
    {% if not home %}
      <h1 class="title">{{ title }}</h1>
      {% if intro %}
      <p class="subtitle">{{ intro | safe }}</p>
    {% endif %}
    {% endif %}
  </div>
</section>

<section class="section">
  <div class="columns">
    <div class="column is-8 is-offset-2">
      <div class="content">
        {% if intro %}
          {% if images %}
            {% imagesShortcode images, imageCollection %}
          {% endif %}
          {{ content | safe }}
        {% endif %}
        {% if not intro %}
          {{ content | safe }}
          {% imagesShortcode images, imageCollection %}
        {% endif %}
      </div>
    </div>
  </div>
</section>

<div id="gallery-lightbox" class="modal">
  <div class="modal-background"></div>

  <button id="lightbox-prev" class="lightbox-nav-btn" aria-label="Previous image">&#10094;</button>
  <button id="lightbox-next" class="lightbox-nav-btn" aria-label="Next image">&#10095;</button>

  <div class="modal-content visual-lightbox-content">
    <p class="image">
      <img id="lightbox-target-img" src="" alt="Enlarged architecture preview">
    </p>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

