---
permalink: /humans.txt
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---

/* TEAM */ Developer: Pau Guerrero Contact: pau (at) pauguerrero (dot) com Find
me on: {{ meta.mastodonProfile }} Location: Barcelona /* SITE */ Last Update:
{{ myDate }}
Doctype: HTML5 languages: English, Catalan, Spanish
